
<html>

<body>
   {% include 'extension/sidebar.html.twig' %}
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-9 col-md-10">
            <h1 class="display-6 text-white">Detail de l'état de Besoin</h1>
            <p class="text-white mt-0 mb-5">teunbuttubnubnunibngknbkdkbnknbjngjbnjubnjtnbkskml,kbj ntjbntjbnjn</p>
            <a href="#!" class="btn btn-neutral">Edit profile</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-4 order-xl-2">
          
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">logistique</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="/addMateriel" class="btn btn-sm btn-primary">ajouter un matériel</a>
                </div>
              </div>
            </div>
            <div class="card-body">
               <tr>
                <td>expediteur : <strong>{{etatById.createdBy.nomLogisticien}}</strong></td></br>
                <td> date d'expedition :   {{etatById.createdAt | date('d/m/Y')}} à {{etatById.createdAt | date('h:i:s')}}</td></br>
                <td>contenue : </br> {{etatById.designation}}</td>
              </tr>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  {# <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="../assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="../assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script> #}
  <!-- Argon JS -->
  {# <script src="../assets/js/argon.js?v=1.2.0"></script> #}
  {% include "extension/footer.html.twig" %}
</body>
       
</html>