<form method="post" action="{{ path('app_tuteur_delete', {'id': tuteur.id}) }}" onsubmit="return confirm('etes-vous sùr de supprimer cet  element?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tuteur.id) }}">
    <button class="btn btn-outline-danger btn-block">Delete</button>
</form>
