{% include 'extension/sidebar.html.twig' %}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">


                </div>
            </div>
            <!-- Card stats -->
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card border-0">
                    <div id="map-default" class="map-canvas" data-lat="40.748817" data-lng="-73.985428" style="height: 600px;">
                        <center><h1 class="heading-small text-muted mb-4"> Edit Tuteurs</h1></center>
                        <div class="col-md-12">
                              {{ include('tuteurs/_form.html.twig', {'button_label': 'Update'}) }}
                                <a href="{{ path('tuteurs_index') }}" onclick="handleFormSubmission()">back to list</a>
                              {{ include('tuteurs/_delete_form.html.twig') }}
                        </div>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "extension/footer.html.twig" %}
